* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Section Info CSS Start */
.secInfo {
  padding: 0 140px;
  text-align: center;
}

.secInfo h2 {
  font-size: 46px;
  font-weight: 800;
  text-transform: uppercase;
  color: #02918c;
}

.secInfo .endBorder {
  margin: 12px 0 16px;
}

.secInfo p {
  font-size: 16px;
  line-height: 40px;
  color: #7e8287;
  margin-bottom: 80px;
}

.secInfo p span {
  font-size: 23px;
  font-weight: 800;
}

/* /Section Info CSS End */

/* Header Section CSS Start */
#header {
  background-color: #02918c;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

#header .logo {
  width: 230px;
  margin: 20px 20px 0 0;
}

#header .row {
  justify-content: space-between;
}

#header .menu ul li {
  text-transform: uppercase;
  float: left;
}

#header .menu ul li a {
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  display: inline-block;
  padding: 15px 25px;
  margin: 10px 0px;
  transition: 0.5s;
}

#header .menu ul li:hover a {
  background-color: #cfc91d;
  color: black;
  border-radius: 10px;
}
/* /Header Section CSS End */

/* Banner Section Start */
#banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  color: #fff;
  position: relative;
  z-index: 1;
}

#banner:after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  inset: 0;
}

#banner .bannerContent {
  text-align: center;
  padding: 210px 0px;
}

#banner .bannerContent h3 {
  font-size: 30px;
  font-weight: 400;
}

#banner .bannerContent h1 {
  font-size: 68px;
  font-weight: 800;
  letter-spacing: 30px;
  text-transform: uppercase;
}

#banner .bannerContent p {
  font-size: 18px;
}

#banner .bannerContent .bannerShape {
  margin: 40px 0;
}

#banner .bannerContent a {
  font-size: 15px;
  font-weight: 800;
  color: #0b1016;
  text-transform: uppercase;
  background-color: #cfc91d;
  padding: 15px 40px;
  display: inline-block;
  transition: 0.5s;
}

#banner .bannerContent a:hover {
  border-radius: 10px;
  color: #fff;
  background-color: #02918c;
  transform: scale(1.1);
}
/* /Banner Section End */

/* About Section CSS Start */
#about {
  margin: 80px 0 60px;
  text-align: center;
}

#about .aboutBox {
  width: 25%;
  border-right: 2px solid #5e6767;
  padding: 35px 65px 55px;
  margin-bottom: 40px;
}

#about .aboutBox:last-child {
  border: none;
}

#about .aboutBox h3 {
  font-size: 16px;
  font-weight: 800;
  color: #7e8287;
  margin: 30px 0;
}

#about .aboutBox p {
  font-size: 11px;
  line-height: 21px;
  color: #7e8287;
}
/* /About Section CSS End */

/* Service Section CSS Start */
#service {
  background-color: #f0f0e6;
  background-image: url("../img/serviceBanner.jpg");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  padding: 60px 0 20px;
}

#service:after {
  position: absolute;
  content: "";
  width: 50%;
  background-color: #f0f0e6;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.7;
}

#service .allService {
  width: 50%;
  padding-right: 70px;
}

#service .allService .secInfo {
  padding: 0;
  text-align: left;
}

#service .serviceItem .serviceBox {
  width: 50%;
  padding: 0px 100px 50px 0px;
}

#service .serviceItem .serviceBox h3 {
  font-size: 16px;
  font-weight: 800;
  color: #7e8287;
  margin: 20px 0;
}

#service .serviceItem .serviceBox p {
  font-size: 11px;
  line-height: 21px;
  color: #7e8287;
}
/* /Service Section CSS End */

/* My Work Section CSS Start */
#myWork {
  margin: 100px 0;
}

#myWork .allWork .workItem {
  width: 25%;
  position: relative;
  overflow: hidden;
}

#myWork .allWork .workItem:after {
  position: absolute;
  content: "";
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #02918c;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

#myWork .allWork .workItem:hover:after {
  opacity: 0.8;
  visibility: visible;
  border-radius: 5px;
  width: 80%;
  height: 80%;
}

#myWork .allWork .workItem .workImg img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}

#myWork .allWork .workItem:hover .workImg img {
  transform: scale(1.1);
}

#myWork .allWork .workItem .workDetails {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0 50px;
  color: #fff;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

#myWork .allWork .workItem:hover .workDetails {
  opacity: 1;
  visibility: visible;
}

#myWork .allWork .workItem .workDetails h3 {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  line-height: 23px;
  transition: 0.5s;
}

#myWork .allWork .workItem .workDetails h3:hover {
  color: #cfc91d;
}
#myWork .allWork .workItem .workDetails p {
  font-size: 13px;
  line-height: 21px;
}

/* /My Work Section CSS End */

/* Contact Section CSS Start */
#contact .contactForm {
  background-color: #0b0b0b;
  padding: 65px 110px;
  text-align: center;
}

#contact .contactForm form .inputField {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #7e8287;
  width: 100%;
  border: none;
  text-align: center;
  background: none;
  border-bottom: 1px solid #898989;
  padding: 40px 30px 10px;
  transition: 0.5s;
}

#contact .contactForm form .inputField:hover {
  color: #02918c;
  border-color: #02918c;
}

#contact .contactForm input.inputField {
  width: 70%;
  margin: 0 auto;
}

#contact .contactForm form textarea {
  resize: none;
  margin: 10px 0 90px;
}

#contact .contactForm form hr {
  width: 100%;
  height: 1px;
  background-color: #898989;
  border: none;
}

#contact .contactForm form button.inputField {
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  color: #0b1016;
  background-color: #cfc91d;
  display: inline-block;
  width: auto;
  padding: 15px 65px;
  margin-top: 65px;
  cursor: pointer;
  transition: 0.5s;
}

#contact .contactForm form button.inputField:hover {
  border-radius: 10px;
  color: #fff;
  background-color: #02918c;
}
/* /Contact Section CSS End */

/* Footer Section CSS Start */
#footer {
  background-color: #000000;
  font-size: 15px;
  color: #7e8287;
  padding: 40px 0 25px;
  text-transform: uppercase;
  text-align: center;
}
/* /Footer Section CSS End */
